<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
        <%= gravatar_for @user %>
      <ul>
        <li><h1><%= @user.name %></h1></li>
        <li><%= @user.email %></li>
      </ul>
    </section>
  </aside>
  <aside class="col-md-6">
    <%= render @sportgrounds %>
    <%= paginate @sportgrounds, theme: "twitter-bootstrap-3" %>
    <% if @user.was? current_user %>
      <div class="row">
        <%= link_to t("sportground.new.add"), new_user_sportground_path(current_user),
          class: "btn btn-primary" %>
      </div>
    <% end %>
  </aside>
</div>
