<div class="row">
  <div class="col-md-6">
    <%= render @user %>
  </div>
  <div class="col-md-6">
    <h3><%= t "users.verify.header" %></h3>
    <%= form_for :verify, url:phone_verifications_path do |f| %>
      <div class="form-group">
        <%= f.label t("users.verify.phone_number") %>
        <%= f.phone_field :phone, html_options = { "class": "form-control", "placeholder": t("users.verify.phone_format"), "required": true } %>
        <%= f.submit t("users.verify.submit"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
